*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 30px auto;
    
}

.row::after {
    content:"";
    display: table;
    clear: both;
}

header{
    height: 70px;
    margin-bottom: 20px;
}

.space{
    width: 160px;
    height: 60px;
    border-right: 1px rgb(204, 204, 204) solid;
    background: url(logo.png) no-repeat;
    background-size: contain;

}

nav ul{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

nav ul li{
    display: inline-block;
    margin-right: 10px;
    color: rgb(177, 177, 177);
}

.neck{
    background: url(banner.jpg) no-repeat;
    background-size: cover;
    filter: brightness(95%);
    height: 700px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
}

.text{
    position: absolute;
    bottom: 120px;
    left: 50px;
    width: 550px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

main{
    float:left;
    width: 100%; 
}

.bar-content{
    height: 60px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.sottotitolo{
    color:rgb(204, 204, 204);
}

.main{
    height: 725px;
    float: left;
}

.margin.left{
    width: 250px;
    position: relative;
}

img{
    filter: brightness(90%);
    border-radius: 20px;
}

.small-foto{
    width: 250px;
    height: 250px;
}

h4{
    position: absolute;
    top: 280px;
    font-family: 'Montserrat', sans-serif;
}
.text-1{
    position: absolute;
    top: 320px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(204, 204, 204)
}

.middle{
    position: relative;
    margin: 0 20px;
}

.big-foto{
    width: 660px;
    height: 252px;
    
}

.margin.right{
    width: 250px;
    position: relative;
}

.medium-foto{
    height: 250px;
    width: 250px;
}

footer{
    height: 50px;
    text-align: center;
}

.pié{
    font-family: 'Montserrat', sans-serif;
}

.cuore{
    color: red;
}

